main {
    background-image: url('../assets/g-bldg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
}
.main {
    background-color: rgba(230, 145, 55, .85);
    color: white;
    box-shadow: 0 0 50px black;
    position: absolute;
}
.spacer-1 {
    margin: 1em;
}
.profile-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profiles-container {
    border: 2px solid;
    /* border-style: inset; */
    border-style: solid dashed;
    border-color: rgb(250, 175, 75);
    border-radius: 5px;
    padding: 1em;
}
img {
    max-width: 250px;
    height: auto;
}
p {
    margin: 0;
    font-weight: 100;
}
.profile {
    margin: 1rem; 
}
.profile-card {
    width: 250px;
    background-color: rgb(250, 175, 75);
    margin: 1em;
    padding: 1rem;
}
.main-title {
    font-weight: 100;
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-collapse: seperate;
    border-spacing: 2em;
    border-bottom: 1px white solid;
}

